<form action="/food" method="post">
Name:  <input type="text" name="name" placeholder="Ex: Cheerios" autofocus="autofocus"><br>
Ethnicity:  <input type="text" name="ethnicity" placeholder="Ex: American" autofocus="autofocus"><br>
Year Eaten:  <input type="text" name="year_eaten" placeholder="Ex: 1984" autofocus="autofocus"><br>
  <input type="submit" value="Add Food" id="button">
</form>